
<div id="mainWrapper" class="container">
  <div *ngIf=!userId>
    <h2>Niste ulogirani</h2><br/>
    <div>
      <a class="jedini" routerLink="/auth/login">Idi na login</a>
    </div>
  </div>
  <div *ngIf=userId>
  <h2>Odaberite sportove koje zelite pratiti</h2>
  <div *ngFor="let sport of sports,let i=index">

    <div *ngIf="sport.userId==userId">
  <div class="oneSport"><a *ngIf="editingIndex!=i"  class="name" [routerLink]="['/sports',sport._id]" (click)="onSportSelected(sport)">{{sport.name}}</a>
    <div *ngIf="editingIndex==i">
      <fieldset class="form-group">
        <input class="form-control" type="text" [(ngModel)]="sport.name"/>
      </fieldset>
    </div>
    <button class="red" type="submit" (click)="deleteSport(i)" >Remove</button>
    <button *ngIf="editingIndex!=i"(click)="setEdit(i)" class="gumbi" type="submit" >Edit</button>
    <button *ngIf="editingIndex==i" (click)="doneEditing(i)"  class="btn btn-warning">Done</button>
  </div><hr/>
  </div>
    </div>
  <button class="gumbi" type="submit" (click)="add=!add">Add new sport</button>
  <div class="well row" *ngIf="add">
    <div class="col-md-4">
      <fieldset class="form-group">
        <label>Name:</label><br/>
        <input class="form-control" type="text" [(ngModel)]="sportt.name"/>
      </fieldset><br/>
      <button class="btn btn-success" (click)="addSport()">Send</button>
    </div>
  </div>
</div>
</div>
